@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MetroSans-Book';
  src: url('/font/metro-sans-book/metro-sans-book.eot');
  src: url('/font/metro-sans-book/metro-sans-book.eot?#iefix')
      format('embedded-opentype'),
    url('/font/metro-sans-book/metro-sans-book.woff2') format('woff2'),
    url('/font/metro-sans-book/metro-sans-book.woff') format('woff'),
    url('/font/metro-sans-book/metro-sans-book.ttf') format('truetype'),
    url('/font/metro-sans-book/metro-sans-book.svg#youworkforthem')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MetroSans-Light';
  src: url('/font/metro-sans-light/metro-sans-light.eot');
  src: url('/font/metro-sans-light/metro-sans-light.eot?#iefix')
      format('embedded-opentype'),
    url('/font/metro-sans-light/metro-sans-light.woff2') format('woff2'),
    url('/font/metro-sans-light/metro-sans-light.woff') format('woff'),
    url('/font/metro-sans-light/metro-sans-light.ttf') format('truetype'),
    url('/font/metro-sans-light/metro-sans-light.svg#youworkforthem')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh-Sans';
  src: url('/font/kumbh-sans/kumbh-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  font-size: 18px;
  line-height: 23px;
}

@font-face {
  font-family: 'larken-bold';
  src: url('/font/larken-bold/larken-bold.eot');
  src: url('/font/larken-bold/larken-bold.eot?#iefix')
      format('embedded-opentype'),
    url('/font/larken-bold/larken-bold.woff2') format('woff2'),
    url('/font/larken-bold/larken-bold.woff') format('woff'),
    url('/font/larken-bold/larken-bold.ttf') format('truetype'),
    url('/font/larken-bold/larken-bold.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  font-size: 18px;
  line-height: 23px;
  margin: 1em 0;
}
.text-sm p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
p:empty {
  display: none;
}

footer a {
  text-decoration: none !important;
  text-decoration-line: none !important;
}
footer a:hover {
  text-decoration: underline !important;
  text-decoration-line: underline !important;
}

ol {
  max-width: 800px;
  list-style-type: circle;
}

ul {
  padding: 1em;
  max-width: 800px;
}

li {
  white-space: pre-line;
}

ul li {
  list-style-type: circle;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.svgSpinner svg circle {
  max-width: 100px;
  fill: transparent;
  stroke-width: 12px;
  stroke-dasharray: 52;
  stroke-dashoffset: 104;
  animation: dash 0.5s linear forwards infinite;
}
